@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../../assets/gradient.svg) !important;
    background-size: cover;
    height: 100vh !important;
}

.frosted-glass {
  place-content: center;
  background: rgba(130, 202, 164, 0.253);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}


 .HomePage__TopSection {
  background-image: url();
 }